<div id="clock"></div>
<div>
  Set time: <input type="text" id="time_input" value="300">
</div>
<div id="player"></div>
<button id="start_timer">Start</button>
<button id="pause_timer">Pause..</button>
<button id="reset_timer">Reset</button>
